# Ignore all new applications adding config
/*

!.gitignore

# Explicitly allow applications we're configuring via .config
!wezterm
!nvim
!starship.toml
!neovide
!_neovide
!alfred
!zshrc
!ReadMe.md
!homebrew
!rectangle
!lazygit
!aerospace
!borders
!sketchybar
!yazi
!gh
!vim
!karabiner
!raycast
