promptToReturnFromSubprocess: false

os:
  editPreset: "nvim-remote"
  editInTerminal: true

  # open: "nvim {{filename}}"
  # openCommand: "nvim"

  # edit: 'nvim --server "$NVIM" --remote-tab {{filename}}'
  # editAtLine: 'nvim --server "$NVIM" --remote-tab {{filename}}; [ -z "$NVIM" ] || nvim --server "$NVIM" --remote-send ":{{line}}<CR>"'
  # editAtLineAndWait: "nvim +{{line}} {{filename}}"
# git:
#   commitPrefix:
# pattern: "^\\w+\\/(\\w+-\\w+).*"
# replace: "[$1] "
